<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="zookeeperEndPoint" value="127.0.0.1:2181"/>
    <add key="RedisServerName" value="redis-rcs"/>
    <add key="MQServeName" value="RabbitMQ"/>
    <add key="DBServeName" value="mysql-rcs"/>
    <add key="MongoServeName" value="MongoDB"/>
    <add key="SysInterface" value="AgvInterface"/>
    <add key="LogModule" value="AgvLog"/>
    <add key="SysManager" value="AgvSysManager"/>
    <add key="dist" value="nginx-rcs"/>
    <add key="MYSQL" value="server=localhost;port=50080;user id=root;password=RPRCS.120626;persistsecurityinfo=True;database=AgvSchdule;max pool size=1024;SslMode=none;charset=utf8mb4;"/>
  </appSettings>
</configuration>